.product-card
{
    margin: 20px;
    width: 300px;
    height: 500px;
    border-radius: 10px;
}

.payment-card
{
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.faq-card
{
    margin: 20px;
    padding: 5px;
    width: 275px;
    height: 120px;
    border-radius: 5px;
}

.note-card
{
    margin: 20px;
    padding: 15px;
    max-width: 480px;
    background-color: white;
    border: 1px solid #ddd;
}
