.product-card
{
    margin: 20px;
    width: 300px;
    height: 500px;
    border-radius: 10px;
}

.payment-card
{
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.faq-card
{
    margin: 20px;
    padding: 5px;
    width: 275px;
    height: 120px;
    border-radius: 5px;
}

.note-card
{
    margin: 20px;
    padding: 15px;
    max-width: 600px;
    min-height: 360px;
    background-color: white;
    border: 1px solid #ddd;
}

.banner-container
{
    padding: 10px 20px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
}

.banner-container:hover .banner-slide
{
    animation-play-state: paused;
}

.banner-slide
{
    display: flex;
    animation: scroll 15s linear infinite;
}

.banner-slide h3
{
    margin: 0 50px;
}

@keyframes scroll
{
    from
    {
        transform: translateX(0);
    }
    to
    {
        transform: translateX(-100%);
    }
}