.product-card
{
    width: 300px;
    height: 500px;
    border-radius: 10px;
}

.payment-card
{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.faq-card
{
    width: 300px;
    height: 120px;
    border-radius: 5px;
}