.image-50-px
{
    width: auto;
    height: 50px;
}

.image-80-px
{
    width: auto;
    height: 80px;
}

.square-image
{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    background-color: white;
}

.polaroid-photograph
{
    height: 50vh;
    aspect-ratio: 1/1;
    margin: 20px;
    padding: 15px;
    background-color: white;
    border: 1px solid #ddd;
    transform: rotate(-5deg);
}