/* ID */

#heroSec
{
    background-image: url('../images/hero.png'), linear-gradient(rgba(200, 200, 200, 0.7), rgba(200, 200, 200, 0.7));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

#profileImg
{
    margin-top: 50px;
    width: 35vh;
    height: auto;
    border-radius: 50%;
    object-fit: cover; /* Escalar el contenido manteniendo la relación de aspecto. */
}

/* Responsive */

@media screen and (max-width: 575px)
{
    /* Hero Section */

    #profileImg
    {
        margin-top: 0px;
        width: 70%;
    }

    #heroSec h1
    {
        font-size: 48px;
    }

    /* About Section */

    #aboutSec .polaroid-photograph
    {
        height: 30vh;
    }

    #abputSec h4
    {
        font-size: 16px;
    }

    /* Pricing Section */

    #pricingSec h3
    {
        font-size: 18px;
    }

    #pricingSec .paymentCard
    {
        width: 140px;
        height: 140px;
    }

    #pricingSec .height-100-px
    {
        height: 60px;
    }
}