/* ID */

#heroSec
{
    background-image: url('../images/hero.png'), linear-gradient(rgba(200, 200, 200, 0.7), rgba(200, 200, 200, 0.7));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

#heroSec img
{
    margin-top: 50px;
}

/* Responsive */

@media screen and (max-width: 575px)
{
    /* Hero Section */

    #heroSec img
    {
        margin-top: 0px;
    }

    #heroSec .width-300-px
    {
        width: 180px;
    }

    #heroSec h1
    {
        font-size: 36px;
    }

    /* About Section */

    #aboutSec .width-400-px
    {
        width: 300px;
    }

    #aboutSec h4
    {
        font-size: 16px;
    }

    /* Pricing Section */

    #pricingSec h3
    {
        font-size: 16px;
    }

    #pricingSec .payment-card
    {
        width: 130px;
        height: 130px;
    }

    #pricingSec .height-100-px
    {
        height: 60px;
    }

    /* Contact Section */

    #contactSec h4
    {
        font-size: 16px;
    }
}