/* ID */

#heroSec
{
    background-image: url('../images/hero.png'), linear-gradient(rgba(200, 200, 200, 0.7), rgba(200, 200, 200, 0.7));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

#profileImg
{
    margin-top: 50px;
    width: 35vh;
    height: auto;
    border-radius: 50%;
    object-fit: cover; /* Escalar el contenido manteniendo la relación de aspecto. */
}

/* Responsive */

@media screen and (max-width: 575px)
{
    /* About Section */

    #aboutSec h1
    {
        margin: 5px 0px;
    }

    #aboutSec h3
    {
        font-size: 18px;
    }

    #aboutSec h5
    {
        font-size: 14px;
    }

    #profileImg
    {
        margin-top: 0px;
        width: 50%;
    }

    /* Pricing Section */

    #pricingSec .payment-card
    {
        margin-left: 5px;
        margin-right: 5px;
    }
}